In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ap=pd.read_csv(r"/content/HR Data.csv")
ap

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [ ]:
ap.drop(columns=['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'],inplace=True)

In [ ]:
ap['Attrition'] = ap['Attrition'].map({'Yes': 1, 'No': 0})

In [ ]:
ap['BusinessTravel'] = ap['BusinessTravel'].replace({'Travel_Rarely': 'Rarely', 'Travel_Frequently': 'Frequently'})

In [ ]:
ap['Gender'] = ap['Gender'].replace({'Male': 1, 'Female': 0})

In [ ]:
numeric_columns = ['Age', 'DailyRate', 'DistanceFromHome', 'MonthlyIncome', 'MonthlyRate', 'TotalWorkingYears', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
for col in numeric_columns:
    q1 = ap[col].quantile(0.25)
    q3 = ap[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    ap = ap[(ap[col] >= lower_bound) & (ap[col] <= upper_bound)]

In [ ]:
ap.fillna(method='ffill', inplace=True)

In [ ]:
ap['YearsInRoleProportion'] = ap['YearsInCurrentRole'] / ap['TotalWorkingYears']

In [ ]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1107 entries, 0 to 1469
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1107 non-null   int64
 1   Attrition                 1107 non-null   int64
 2   BusinessTravel            1107 non-null   object
 3   DailyRate                 1107 non-null   int64
 4   Department                1107 non-null   object
 5   DistanceFromHome          1107 non-null   int64
 6   Education                 1107 non-null   int64
 7   EducationField            1107 non-null   object
 8   EnvironmentSatisfaction   1107 non-null   int64
 9   Gender                    1107 non-null   int64
 10  HourlyRate                1107 non-null   int64
 11  JobInvolvement            1107 non-null   int64
 12  JobLevel                  1107 non-null   int64
 13  JobRole                   1107 non-null   object
 14  JobSatisfaction           1107 non-null   int64
 15  MaritalStatus             1107 non-null   object
 16  MonthlyIncome             1107 non-null   int64
 17  MonthlyRate               1107 non-null   int64
 18  NumCompaniesWorked        1107 non-null   int64
 19  OverTime                  1107 non-null   object
 20  PercentSalaryHike         1107 non-null   int64
 21  PerformanceRating         1107 non-null   int64
 22  RelationshipSatisfaction  1107 non-null   int64
 23  StockOptionLevel          1107 non-null   int64
 24  TotalWorkingYears         1107 non-null   int64
 25  TrainingTimesLastYear     1107 non-null   int64
 26  WorkLifeBalance           1107 non-null   int64
 27  YearsAtCompany            1107 non-null   int64
 28  YearsInCurrentRole        1107 non-null   int64
 29  YearsSinceLastPromotion   1107 non-null   int64
 30  YearsWithCurrManager      1107 non-null   int64
 31  YearsInRoleProportion     1096 non-null   float64
dtypes: float64(1), int64(25), object(6)
memory usage: 285.4+ KB

In [ ]:
ap.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,YearsInRoleProportion
0,41,1,Rarely,1102,Sales,1,2,Life Sciences,2,0,...,1,0,8,0,1,6,4,0,5,0.500000
1,49,0,Frequently,279,Research & Development,8,1,Life Sciences,3,1,...,4,1,10,3,3,10,7,1,7,0.700000
2,37,1,Rarely,1373,Research & Development,2,2,Other,4,1,...,2,0,7,3,3,0,0,0,0,0.000000
3,33,0,Frequently,1392,Research & Development,3,4,Life Sciences,4,0,...,3,0,8,3,3,8,7,3,0,0.875000
4,27,0,Rarely,591,Research & Development,2,1,Medical,1,1,...,4,1,6,3,3,2,2,2,2,0.333333

In [ ]:
ap.to_csv('Afame-hr_cleaned_dataset.csv', index=False)